<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
<div  class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ver Cliente</h5>
                <button type="button" class="close" (click)="cerrarModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <ul *ngIf="cliente" class="list-group text-dark mb-3">
                                <li class="list-group-item active">{{cliente.nombre}} </li>
                                <li class="list-group-item">{{cliente.apellido}} </li>
                                <li class="list-group-item">{{cliente.email}} </li>
                                <li class="list-group-item">{{cliente.createAt  | date: "fullDate"}} </li>
                                <li class="list-group-item" *ngIf="cliente.region">{{cliente.region.nombre}} </li>
                                <li class="list-group-item" *ngIf="!cliente.region"> no tiene una region asignada</li>
                            </ul>
                            <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
                                <div class="custom-file">
                                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input"
                                        id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                    <label class="custom-file-label" for="inputGroupFile04">Subir foto</label>
                                </div>
                                <div class="input-group-append">
                                    <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button"
                                        id="inputGroupFileAddon04" [disabled]="!fotoSeleccionada">subir imagen</button>
                                </div>
                            </div>
                            <div class="progress" *ngIf="progreso > 0" style="height: 40px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" [ngStyle]="{width: progreso+ '%'}"
                                    attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                                    {{progreso}}%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <img src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" *ngIf="cliente?.foto"
                                alt="Foto del cliente" class="img-thumbnail rounded">
                        </div>
                        <div class="alert alert-info my-4 col-sm-10" *ngIf="cliente.listaFacturas?.length==0"> no hay facturas </div>
                        <div class="row">
                            <table class="table table-bordered table-striped my-4 "*ngIf="cliente.listaFacturas?.length>0">
                                <thead>
                                    <tr>
                                        <th>folio</th>
                                        <th>descripcion</th>
                                        <th>fecha</th>
                                        <th>total</th>
                                        <th>detalle</th>
                                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Factura</th>
                                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar factura</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let factura  of cliente.listaFacturas">
                                        <td>{{factura.id}}</td>
                                        <td>{{factura.descripcion}}</td>
                                        <td>{{factura.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
                                        <td>{{factura.total}}</td>
                                        <td> <button class="btn btn-info btn-sm" type="button" [routerLink]="['/facturas',factura.id]" >ver detalle </button>
                                            </td>
                                            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                                                <button type="button" class="btn btn-success btn-sm" [routerLink]="['/facturas/form',cliente.id]">crear Factura</button>
                                            </td>
                                            <td *ngIf="authService.hasRole('ROLE_ADMIN')"> 
                                                <button class="btn btn-danger btn-sm" type="button" (click)="delete(factura)" >Eliminar factura </button>
                                            </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>